<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
      <h2 id="secondaryTitle">Welcome to</h2>
      <h1 id="mainTitle">Bug Report</h1>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0 mainDescription">
      <p>Here you can report all of your bugs. You will be notified when the bug is closed.</p>
      <div class="row gimmeSpace">
        <div class="mainButtons">
          <%= link_to "View All Bugs", bugs_path %>
        </div>
        <div class="mainButtons">
          <%= link_to "Report a Bug", new_bug_path %>
        </div>
      </div>
    </div>
  </div>
</div>