<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello from bugreport406.herokuapp.com,</h1>
<p>
  Your following bug has been closed,<br>
  Type: <%= @bug.title %><br>
  Description: <%= @bug.description %><br>
  Priority: <%= @bug.priority %><br>
</p>
<p>Thanks again for submitting, and I hope you have a great day!</p>
</body>
</html>